:root {
  --fuentePrincipal: "Cuprum", sans-serif;
  --fuentePrincipalTitulo: "Tsukimi Rounded", sans-serif;
  --fuenteTitulos: "Mohave", sans-serif;
  --fuenteSecundaria: "Varela Round", sans-serif;
  --fuenteAlternativa: "Schibsted Grotesk", sans-serif;
  --colorCabecera: #181e25;
  --colorLetra: #ffffff;
}

body {
  margin: 0;
}
@media only screen and (max-width: 412px) {
  .cabecera {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0 1rem;
    background-color: var(--colorCabecera);
    background-image: url("/img/fondo01.png");
  }

  .cabeceraTitulo a {
    text-decoration: none;
  }

  .cabeceraTitulo a h1 {
    font-family: var(--fuentePrincipal);
    font-size: 5vh;
    font-weight: bold;
    color: var(--colorLetra);
  }

  .cabeceraEnlaces {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0 1vw;
  }

  .cabeceraEnlacesItem {
    margin: 0 1vw;
    text-decoration: none;
  }
  .cabeceraEnlacesItem h2 {
    font-family: var(--fuenteSecundaria);
    color: var(--colorLetra);
    font-size: 1.9vh;
  }

  .subtitulo {
    font-family: var(--fuenteTitulos);
    font-size: 3vh;
    text-align: center;
    color: var(--colorLetra);
    background-color: var(--colorCabecera);
    padding: 1.3vw;
  }

  .contenedor-tarjetas {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    gap: 1% 1%;
    justify-content: center;
    align-content: center;
    padding: 2rem 1rem;
    margin: auto;
  }

  a {
    text-decoration: none;
  }
  a .card h3 {
    font-family: var(--fuentePrincipal);
    font-weight: 500;
    text-align: center;
    color: var(--colorLetra);
    width: 100%;
    font-size: 0.9rem;
    margin: 0;
  }

  .card {
    height: 45vh;
    max-height: 25rem;
    flex-grow: 1vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 88% 7%;
    align-items: stretch;
    background-color: #455857;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .card img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 0.5vh;
  }

  .piePagina {
    background-color: var(--colorCabecera);
    color: var(--colorLetra);
    font-family: var(--fuenteSecundaria);
    height: auto;
    padding: 3vh;
  }
  .piePagina h1 {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 413px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .cabecera {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0 1rem;
    background-color: var(--colorCabecera);
    background-image: url("/img/fondo01.png");
  }

  .cabeceraTitulo a {
    text-decoration: none;
  }

  .cabeceraTitulo a h1 {
    font-family: var(--fuentePrincipalTitulo);
    font-size: 5vh;
    font-weight: 900;
    text-shadow: -1px 1px 10px rgba(0, 0, 0, 0.85);
    color: var(--colorLetra);
  }

  .cabeceraEnlaces {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0 1vw;
  }

  .cabeceraEnlacesItem {
    margin: 0 1vw;
    text-decoration: none;
  }
  .cabeceraEnlacesItem h2 {
    font-family: var(--fuenteSecundaria);
    color: var(--colorLetra);
    font-size: 1.9vh;
    text-shadow: -1px 1px 10px rgba(0, 0, 0, 0.85);
  }

  .cuerpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-content: center;
    align-items: center;
  }
  .contenido {
    width: 100%;
  }

  .subtitulo {
    font-family: var(--fuenteTitulos);
    font-size: 4vw;
    text-align: center;
    color: var(--colorLetra);
    background-color: var(--colorCabecera);
    padding: 1.3vw;
  }

  .contenedor-tarjetas {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-template-rows: 1fr;
    gap: 5% 1%;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    margin: auto;
  }

  a {
    display: flex;
    justify-content: center;
    text-decoration: none;
  }
  .card {
    height: 35vh;
    flex-grow: 1vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 88% 7%;
    align-items: stretch;
    background-color: #455857;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .card img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 0.5vh;
  }

  .card a {
    display: inline-block;
    width: 98%;
    height: 98%;

    padding: 1%;
  }

  .card h3 {
    font-family: var(--fuentePrincipal);
    font-weight: 500;
    text-align: center;
    color: var(--colorLetra);
    width: 100%;
    font-size: 1rem;
    margin: 0;
  }

  .piePagina {
    background-color: var(--colorCabecera);
  }
  .piePagina h1 {
    font-size: 1rem;
    text-align: center;
    color: var(--colorLetra);
    font-family: var(--fuenteSecundaria);
    padding: 4vh;
  }
}
@media only screen and (min-width: 835px) {
  .cabecera {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0 1rem;
    background-color: var(--colorCabecera);
    background-image: url("/img/fondo01.png");
  }

  .cabeceraTitulo a {
    text-decoration: none;
  }

  .cabeceraTitulo a h1 {
    font-family: var(--fuentePrincipalTitulo);
    font-size: 4vh;
    font-weight: 900;
    color: var(--colorLetra);
    text-shadow: -1px 1px 20px rgba(0, 0, 0, 0.85);
    background-color: #0a0a0a;
    padding: 1rem 2rem;
    border-radius: 50% / 80%;
    background: linear-gradient(202deg, #0084a7, #a9adad);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
  }

  @-webkit-keyframes AnimationName {
    0% {
      background-position: 52% 0%;
    }
    50% {
      background-position: 49% 100%;
    }
    100% {
      background-position: 52% 0%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 52% 0%;
    }
    50% {
      background-position: 49% 100%;
    }
    100% {
      background-position: 52% 0%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 52% 0%;
    }
    50% {
      background-position: 49% 100%;
    }
    100% {
      background-position: 52% 0%;
    }
  }

  .cabeceraTitulo a h1:hover {
    position: relative;
    animation: bounce 0.5s;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .cabeceraEnlaces {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0 1vw;
  }

  .cabeceraEnlacesItem {
    background: linear-gradient(to right, #455857, #000000);
    width: 6rem;
    color: #ffffff;
    text-decoration: none;
    padding: 0 2rem;
    border: 1px solid #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cabeceraEnlacesItem:hover {
    background: linear-gradient(to right, #163950, #0b90b8);
    background-color: #7a7a7a;
  }
  .cabeceraEnlacesItem h2 {
    font-family: var(--fuenteSecundaria);
    color: var(--colorLetra);
    font-size: 2vh;
    text-shadow: -1px 2px 30px rgba(0, 0, 0, 0.85);
  }
  .cuerpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-content: center;
    align-items: center;
  }

  .subtitulo {
    font-family: var(--fuenteTitulos);
    font-size: 3vw;
    text-align: center;
    color: var(--colorLetra);
    background-color: var(--colorCabecera);
    padding: 1.3vw;
  }

  .contenedor-tarjetas {
    max-width: 1400px;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: 1fr;
    gap: 1% 1%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    padding: 1rem;
    margin: auto;
  }

  .card {
    height: 60vh;
    max-height: 25rem;
    flex-grow: 1vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 88% 7%;
    align-items: stretch;
    background-color: #455857;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .card img:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease;
  }

  .card img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 0.5vh;
  }

  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 1%;
    max-width: 13rem;
  }

  .card h3 {
    font-family: var(--fuentePrincipal);
    font-weight: 500;
    text-align: center;
    color: var(--colorLetra);
    width: 100%;
    font-size: 1rem;
    margin: 0;
  }

  .piePagina {
    background-color: var(--colorCabecera);
  }
  .piePagina h1 {
    font-size: 1rem;
    text-align: center;
    color: var(--colorLetra);
    font-family: var(--fuenteSecundaria);
    padding: 3vh;
  }
}
