:root {
  --fuentePrincipal: "Cuprum", sans-serif;
  --fuentePrincipalTitulo: 'Tsukimi Rounded', sans-serif;
  --fuenteTitulos: 'Mohave', sans-serif;
  --fuenteSecundaria: "Varela Round", sans-serif;
  --fuenteAlternativa: "Schibsted Grotesk", sans-serif;
  --colorCabecera: #181e25;
  --colorLetra: #cdd5df;
}

body {


  margin: 0;
}
@media only screen and (max-width: 412px) {
  .cabecera {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0 1rem;
    background-color: var(--colorCabecera);
  }
  
  .cabeceraTitulo a {
    text-decoration: none;
  }
  
  .cabeceraTitulo a h1 {
    font-family: var(--fuentePrincipal);
    font-size: 3vh;
    color: var(--colorLetra);
  }
    
  .cabeceraEnlaces {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0 1vw;
  }
  
  .cabeceraEnlacesItem {
    margin: 0 1vw;
    text-decoration: none;
  }
  .cabeceraEnlacesItem h2{
    font-family: var(--fuenteSecundaria);
    color: var(--colorLetra);
    font-size: 1.9vh;
  }
  
  
  .bannerPortada {
    display: block;
    width: 100vw;
    height: 15vh;
    background-image: url(/img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  /* .cuerpo {
  
  } */
  .subtitulo {
    font-family: var(--fuenteTitulos);
    font-size: 3vh;
    text-align: center;
    color: var(--colorLetra);
    background-color: var(--colorCabecera);
    padding: 1.3vw;
  }
  
  .contenedor-tarjetas {
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 1fr;
    gap: 1% 1%;
    justify-content: center;
    align-content: center;
    padding: 2rem 1rem;
    margin: auto;
  }
  
  .textoBusqueda {
    font-size: 2rem;
    display: block;
    height: 3rem;
    margin: 0 auto;
    text-align: center;
    border: none;
    border-bottom: 2px solid #000;
    width: 80%;
    padding: 5px;
  }
  
  .textoBusqueda:focus {
    outline: none;
    border-bottom-color: transparent;
  }
  
  .textoBusqueda::placeholder {
    font-size: 2rem;
  }
  a {
    text-decoration: none;
  }
  a .card h3 {
    font-family: var(--fuentePrincipal);
    font-weight: 500;
    text-align: center;
    color: var(--colorLetra);
    width: 100%;
    font-size: .9rem;
    margin: 0;
  }
  
  .card {
    height: 45vh;
    max-height: 25rem;
    flex-grow: 1vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 88% 7%;
    align-items: stretch;
    background-color: #455857;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    overflow: hidden
  }
  
  .card img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: .5vh;
  }
 
  .piePagina {
    background-color: var(--colorCabecera);
    color: var(--colorLetra);
    font-family: var(--fuenteSecundaria);
    height: auto;
    padding: 3vh;
  }
  .piePagina h1{
    font-size: 0.8rem;
  }

}
@media only screen and (min-width: 413px) {

   body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 80% 10%;
    gap: 0px 0px;
    grid-template-areas:
        "cabecera"
        "cuerpo"
        "piePagina";
    align-content: space-around;
  }
  .cabecera {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0 1rem;
    background-color: var(--colorCabecera);
  }
  
  .cabeceraTitulo a {
    text-decoration: none;
  }
  
  .cabeceraTitulo a h1 {
    font-family: var(--fuentePrincipalTitulo);
    font-size: 4vh;
    color: var(--colorLetra);
  }
    
  .cabeceraEnlaces {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0 1vw;
  }
  
  .cabeceraEnlacesItem {
    margin: 0 1vw;
    text-decoration: none;
  }
  .cabeceraEnlacesItem h2{
    font-family: var(--fuenteSecundaria);
    color: var(--colorLetra);
    font-size: 1.9vh;
  }
  
  
  .contenedor-tarjetas {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-template-rows: 1fr;
    gap: 5% 1%;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    margin: 0;
  }
  
  .textoBusqueda {
    font-size: 2rem;
    display: block;
    height: 1rem;
    margin: auto;
    text-align: center;
    border: none;
    border-bottom: 2px solid #000;
    padding: 2rem;
  }
  
  .textoBusqueda:focus {
    outline: none;
    border-bottom-color: transparent;
  }
  
  .textoBusqueda::placeholder {
    font-size: 2rem;
  }
  a {
    text-decoration: none;
  }
  .card {
    height: 29vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 88% 7%;
    align-items: stretch;
    background-color: #455857;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    overflow: hidden
  }
  
  .card img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: .5vh;
  }
   
  .card h3 {
    font-family: var(--fuentePrincipal);
    font-weight: 500;
    text-align: center;
    color: var(--colorLetra);
    width: 100%;
    font-size: 1rem;
    margin: 0;
  }
  
  .piePagina {
    background-color: var(--colorCabecera);
    margin: 0;
  }
  .piePagina h1{
    font-size: 1rem;
    text-align: center;
    color: var(--colorLetra);
    font-family: var(--fuenteSecundaria);
    padding: 2vh;
  }
  
}
@media only screen and (min-width: 835px){
  body {
    display: flex;
    flex-direction: column;
  }
  .cabecera {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0 1rem;
    background-color: var(--colorCabecera);
  }
  
  .cabeceraTitulo a {
    text-decoration: none;
  }
  
  .cabeceraTitulo a h1 {
    font-family: var(--fuentePrincipalTitulo);
    font-size: 3vh;
    color: var(--colorLetra);
  }
    
  .cabeceraEnlaces {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0 1vw;
  }
  
  .cabeceraEnlacesItem {
    margin: 0 1vw;
    text-decoration: none;
  }
  .cabeceraEnlacesItem h2{
    font-family: var(--fuenteSecundaria);
    color: var(--colorLetra);
    font-size: 1.9vh;
  }
  
  
  .bannerPortada {
    display: block;
    width: 100vw;
    height: 60vh;
    background-image: url(/img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  

  .subtitulo {
    font-family: var(--fuenteAlternativa);
    font-size: 2vw;
    text-align: center;
    color: var(--colorLetra);
    background-color: var(--colorCabecera);
    padding: 1.3vw;
  }
  
  .contenedor-tarjetas {
    max-width: 1400px;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-template-rows: 1fr;
    gap: 1% 1%;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    margin: auto;
  }
  
  .textoBusqueda {
    font-size: 2rem;
    display: block;
    height: 3rem;
    margin: 0 auto;
    text-align: center;
    border: none;
    border-bottom: 2px solid #000;
    width: 80%;
    max-width: 1300px;
    padding: 5px;
  }
  
  .textoBusqueda:focus {
    outline: none;
    border-bottom-color: transparent;
  }
  
  .textoBusqueda::placeholder {
    font-size: 2rem;
  }
  
  .card {
    height: 45vh;
    max-width: 16rem;
    max-height: 30rem;
    flex-grow: 1vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 88% 7%;
    align-items: stretch;
    background-color: #455857;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    overflow: hidden
  }
  
  .card img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: .5vh;
  }
  .card img:hover{
    transform: scale(1.5);
    transition: transform 0.3s ease;
  }
  .card a {
    display: inline-block;
    width: 98%;
    height: 98%;
    text-decoration: none;
    padding: 1%;
  }
  
  .card a h3 {
    font-family: var(--fuentePrincipal);
    font-weight: 500;
    text-align: center;
    color: var(--colorLetra);
    width: 100%;
    font-size: 1rem;
    margin: 0;
  }
  
  .piePagina {
    background-color: var(--colorCabecera);
    color: var(--colorLetra);
    font-family: var(--fuenteSecundaria);
    height: auto;
    padding: 1vh;
  }
}
